.contact-bg{
    background-image: url(../../../images/appointmentBg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:relative;
    background-position:center center;
    height:650px;
    width:900px;
  

}
.contact-bg::before{
    opacity:0.3;
}

input, textarea{
    width:70%;
    margin:10px;
    padding:15px;
}
